In [4]:
# enumerate(반복가능객체)
#  for item in enumerate(반복가능객체):
#  item<--idx,값
li=['a','b','c']
for result in enumerate(li):
    print(result)

li2=['a','b','c']
for result in li2:
    print(result)

li3=['a','b','c']
for result1,result2 in enumerate(li3):
    print(f'result1:{result1}, result2:{result2}')

(0, 'a')
(1, 'b')
(2, 'c')
a
b
c

In [17]:
li=['가','나','다']
for result in enumerate(li):
    print(result)

li2=['가','나','다']
for result in li2:
    print(result)

li3=['가','나','다']
for result1,result2 in enumerate(li3):
    print(f'result1:{result1}, result2:{result2}')

(0, '가')
(1, '나')
(2, '다')
가
나
다
result1:0, result2:가
result1:1, result2:나
result1:2, result2:다

In [22]:
#range(stop)
#range(start,stop)
#range(start,stop,step)
for i in range(3,200,3):
    print(i,end=' ')
print()
for j in range(10,-10,-2):
    print(j,end=' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198
10 8 6 4 2 0 -2 -4 -6 -8

In [23]:
li=['a','b','c','d']
print(len(li))
d={'a':'apple','b':'banana'}
print(len(d))
print(len(range(10)))

4
2
10

In [25]:
season=['봄','여름','가을','겨울']
for idx in range(len(season)):
    print(season[idx],end=',')

봄,여름,가을,겨울,

In [28]:
season=['봄','여름','가을','겨울']
for idx in season:
    print(idx,end=',')

봄,여름,가을,겨울,

In [30]:
li=[10,4,2,1,3,345,45]
print(sorted(li))
print(sorted(li,reverse=True))
print(sorted(li,reverse=False))

[1, 2, 3, 4, 10, 45, 345]
[345, 45, 10, 4, 3, 2, 1]
[1, 2, 3, 4, 10, 45, 345]

In [32]:
#zip(list1,list2)-->묶임
score=[10,4,2,1,3,345,45]
name=['james','jun','tom']
for result in zip(score,name):
    print(result)
for result in zip(name,score):
    print(result)

(10, 'james')
(4, 'jun')
(2, 'tom')
('james', 10)
('jun', 4)
('tom', 2)

In [33]:
months=[31,28,31,30,31,30,31,31,30,31,30,31]
for month,day in enumerate(months):
    print('{}월= {}일'.format(month+1,day))

1월= 31일
2월= 28일
3월= 31일
4월= 30일
5월= 31일
6월= 30일
7월= 31일
8월= 31일
9월= 30일
10월= 31일
11월= 30일
12월= 31일