In [19]:
grade=3
class1=10
number=25

# print(grade,end='')
# print('학년',end='')
# print(class1,end='')
# print('반',end='')
# print(number,end='')
# print('번',end='')

print(grade,'학년',class1,'반',number,'번')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
car='서울2가1234'
car2='10가 1234'
car3='288가 1234'

print(car, '의 차량번호 4자리는 ',car[-4:],'입니다')

서울2가1234 의 차량번호 4자리는  1234 입니다

In [5]:
s='maple'
print(s,'의 가운데 글자는 ',s[2],'입니다')

maple 의 가운데 글자는  p 입니다

In [9]:
li=[10,20,30,40,50,60,70,80,90,100]
print('3번째 요소부터 7번째 요소:',li[2:7])
a=li[2:7]
print('3번째 요소부터 7번째 요소 중 2번째 요소:',a[1])

3번째 요소부터 7번째 요소: [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소: 40

In [16]:
dic={'금요일':'탕수육','토요일':'유산슬', '일요일':'팔보채'}
print('금요일:', dic['금요일'])
print('토요일:', dic['토요일'])
print('일요일:', dic['일요일'])

금요일: 탕수육
토요일: 유산슬
일요일: 팔보채